.jumbotron
  %h1 Contact exchange
  %p.lead Give a URL, get a contact. It's that simple.
  = link_to "Register now", new_user_registration_path, :class => "btn btn-large btn-success"

%hr

.row-fluid
  .span4
    %h4 Simple
    %p Register, get a URL, give it to anyone who's contact you want. When they fill up the form, the new contact is instantly synced to your mobile device.
  .span4
    %h4 Seamless sync
    %p Seamlessly and instantly syncs contacts with all major mobile operating systems: <strong>iOS</strong>, <strong>Android</strong> and <strong>Windows Phone</strong>.
  .span4
    %h4 Secure
    %p Your URL contains a long hash that is almost impossible to guess, so only the people you trust will be able to add their contact.