.jumbotron
  %h1 ContactExchange
  %p.lead Give a URL, get a contact. Syncs with your mobile phone using Google Contacts.
  = link_to "Register now", register_path, :class => "btn btn-large btn-success"