$error-color: #F2DEDE;
$success-color: #DFF0D8;

input.parsley-success, textarea.parsley-success {
  color: darken($success-color, 40%);
  background-color: $success-color;
  border: 1px solid darken($success-color, 5%);

  &:focus {
    border-color: darken($success-color, 20%);
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px $success-color;
    @include box-shadow($shadow);
  }

  @include placeholder(darken($success-color, 30%));
}

input.parsley-error, textarea.parsley-error {
  color: darken($error-color, 40%);
  background-color: $error-color;
  border: 1px solid darken($error-color, 5%);

  margin-bottom: 5px;

  &:focus {
    border-color: darken($error-color, 20%);
    $shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px $error-color;
    @include box-shadow($shadow);
  }

  @include placeholder(darken($error-color, 30%));
}

ul.parsley-errors-list {
  font-size: 12px;
  color: darken($error-color, 40%);
  padding-left: 10px;
  list-style-type: none;
}
