.container-narrow {
  margin: 0 auto;
  max-width: 900px;
}

.feature.main {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.feature.main h1 {
  font-size: 72px;
  line-height: 1;
}

.feature.main .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.hrheader {
  display: block;
  font-size: 21px;
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
