#toasts
  - if flash[:alert]
    .hidden-toast{ 'data-type' => 'info' }= flash[:alert]

  - if flash[:toasts]
    - flash[:toasts].each do |toast|
      .hidden-toast{ 'data-type' => toast[:type] }= toast[:message]
