.navbar
  .navbar-inner
    = link_to "ContactExchange", root_path, :class => "brand"
    %ul.nav.nav-pills.pull-right
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Contacts