!!!
%html
  = render 'layouts/head'
  %body
    .container-narrow
      = render 'layouts/navigation'
      .row-fluid
        .span12= render 'layouts/messages'
      .row-fluid
        .span12= yield
      %hr
      .muted &copy; Mantas Norvaiša 2013