!!!
%html
  = render 'layouts/head'
  %body
    = render 'layouts/messages'
    = render 'layouts/navigation'

    .container-narrow
      .row
        .col-md-12= yield
      %hr
      .muted &copy; Mantas Norvaiša 2013-2014
