!!!
%html
  = render 'layouts/head'
  %body#simple-form-body
    .simple-form-container
      .row-fluid
        .span12
      .row-fluid
        .span12
          = render 'layouts/messages'
          .simple-form
            = yield
          .simple-form-footer.text-center
            = link_to "ContactExchange", root_path